.post__comments {
    display: flex;
    flex-direction: column;

    max-height: 250px;
    overflow-y: scroll;
}

/* Для Firefox */
/* Стили для WebKit (Chrome, Safari, новая версия Opera) */
.post__comments::-webkit-scrollbar {
    width: 5px;
}

.post__comments::-webkit-scrollbar-track {
    background: var(--color-icon);
}
  
.post__comments::-webkit-scrollbar-thumb {
    background: var(--primary-one);
}

.post__comments::-webkit-scrollbar-thumb:hover {
    background: var(--color-icon);

}
  
/* Стили для Firefox */
.post__comments {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-one) var(--color-icon);
}

.post__comments:hover {
    scrollbar-color: var(--primary-one) var(--color-icon);
}
  